.git
.gitignore
.github
.gitattributes
*.pyc
__pycache__
*.egg-info
dist/
build/
.pytest_cache
.tox
.coverage
.venv
venv/
env/
.env
*.md
LICENSE
debian/
docs/
*.spec
.dockerignore
Dockerfile
BUILDING.md
